/* 分页 */
#pagination {
    width: 90%;
    text-align: center;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 21px 0;
    border-radius: 4px;
}

.pagination li {
    display: inline;
}

.pagination a {
    border-radius: 6px;
    color: #eb6864;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 19px;
    line-height: 1.3333333;
    border: 1px solid #dddddd;
    margin-left: -1px;
}

.pagination a:hover {
    background-color: #eeeeee;
}

.pagination input {
    border: 1px solid #dddddd;
    width: 60px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.5;
    color: #777777;
}

.pagination .disabled {
    cursor: not-allowed;
}

.doctors:after {
    content: "";
    clear: both;
    display: block;
}

/* 医生信息 */
.ysjs {
    float: left;
    margin: 20px;
    height: 300px;
    border-radius: 8px;
    width: 680px;
    border: 1px #000 solid;
}

.ysjs .title {
    margin: 20px;
    position: relative;
}

.ysjs .title:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

.ysjs .title .t span {
    margin: 20px;
    color: rgb(43, 43, 43);
    font-size: 30px;
    line-height: 30px;
}

.ysjs .title img {
    position: absolute;
    top: -20px;
    left: 480px;
    width: 100px;
    height: 125px;
}

.ysjs .title .t .gender {
    color: rgb(95, 156, 236);
}

.ysjs .title .t .career {
    font-size: 17px;
    margin-left: 30px;
    color: rgb(61, 175, 167);
}

.ysjs .content {
    border-top: 1px solid rgb(219, 219, 219);
    margin: 30px;
    text-align: left;
    width: 640px;
}

.ysjs .content div {
    padding-top: 10px;
}

/* 搜索框 */
.search {
    height: 150px;
    border-bottom: 2px #2e2e2e solid;
}

.search input {
    height: 40px;
    width: 200px;
    color: #2e2e2e;
    padding: 0 20px;
    border-radius: 4px;
}

.search button {
    height: 40px;
    color: #2e2e2e;
    padding: 0 20px;
    border-radius: 2px;
    cursor: pointer;
}

.search button:hover {
    color: #0065AF;
}